{% block search %}
<div class="w-full flex flex-col items-center justify-center">
<div class="w-full flex flex-row justify-center filters">
  <div class="ui-group">
    <h2>Price</h2>
    <div class="button-group" data-filter-group="price">
      <button class="button is-checked" data-filter-value="">any</button>
      <button class="button" data-filter-value=".cheap">$</button>
      <button class="button" data-filter-value=".affordable">$$</button>
      <button class="button" data-filter-value=".pricy">$$$</button>
      <button class="button" data-filter-value=".expensive">$$$$</button>
    </div>
  </div>
  <div class="ui-group">
    <h2>Hours</h2>
    <div class="button-group" data-filter-group="hours">
      <button class="button is-checked" data-filter-value="">any</button>
      <button class="button" data-filter-value=".low">Low Hours</button>
      <button class="button" data-filter-value=".medium">Medium Hours</button>
      <button class="button" data-filter-value=".high">High Hours</button>
    </div>
  </div>
  <div class="ui-group">
    <h2>Make</h2>
    <div class="button-group" data-filter-group="make">
      <button class="button is-checked" data-filter-value="">any</button>
      <button class="button" data-filter-value=".Honda">Honda</button>
      <button class="button" data-filter-value=".Sea-Doo">Sea-Doo</button>
      <button class="button" data-filter-value=".Yamaha">Yamaha</button>
    </div>
  </div>
</div>
<div class="grid self-center w-2/3">
  {% for entry in craft.entries().section('inventory').all() %}
  {% set inventoryLink = entry.url() %}
  {% set inventoryTitle = entry.title %}
  {% set make = entry.make.one() %}
  {% set model = entry.model.one() %}
  {% include "_components/_pre-owned/inventory-item-component" %}
  {% endfor %}
</div>
</div>
{% endblock %}
