{% block search %}
<div class="w-full flex flex-col items-center justify-center">
  <div class="w-full flex flex-row justify-center filters mb-4">
    <div class="ui-group">
      <h2 id="filterButton" onclick="showFilters()">Make</h2>
      <ul class="filter option-set flex flex-row hidden" data-filter-group="make">
        <li class="mr-2"><a href="#" data-filter-value="" class="selected">All</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Sea-Doo">Sea-Doo</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Yamaha">Yamaha</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Kawasaki">Kawasaki</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Honda">Honda</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Polaris">Polaris</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Other">Other</a></li>
      </ul>
    </div>
    <div class="ui-group">
      <h2 id="filterButton" onclick="showFilters()">Stroke</h2>
      <ul id="filters" class="filter option-set flex flex-row flex flex-row hidden" data-filter-group="stroke">
        <li class="mr-2"><a href="#" data-filter-value="" class="selected">All</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".2-stroke">2-Stroke</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".4-stroke">4-Stroke</a></li>
      </ul>
    </div>
    <div class="ui-group">
      <h2 id="filterButton" onclick="showFilters()">Turbo/SC</h2>
      <ul id="filters" class="filter option-set flex flex-row hidden" data-filter-group="turboSc">
        <li class="mr-2"><a href="#" data-filter-value="" class="selected">All</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Turbo">Turbo</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Supercharged">Supercharged</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".NaturallyAspirated">Naturally Aspirated</a></li>
      </ul>
    </div>
    <div class="ui-group">
      <h2 id="filterButton" onclick="showFilters()">HP</h2>
      <ul id="filters" class="filter option-set flex flex-row hidden" data-filter-group="price">
        <li class="mr-2"><a href="#" data-filter-value="" class="selected">All</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".Under-110">Under 110</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".110-130">110-130</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".140-185">140-185</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".210-230">210-230</a></li>
        <li class="mr-2"><a href="#" data-filter-value=".250-310">250-310</a></li>
      </ul>
    </div>
  </div>
  <div class="sort-by-button-group">
    <button class="button" data-sort-value="year" data-sort-direction="asc">Year <i class="fas fa-chevron-down transition-transform duration-300 transform"></i></button>
    <button class="button" data-sort-value="hours" data-sort-direction="asc">Hours <i class="fas fa-chevron-down transition-transform duration-300 transform"></i></button>
    <button class="button" data-sort-value="price" data-sort-direction="asc">Price <i class="fas fa-chevron-down transition-transform duration-300 transform"></i></button>
  </div>
  <div class="grid self-center w-2/3">
    {% for entry in craft.entries().section('inventory').all() %}
    {% set inventoryLink = entry.url() %}
    {% set inventoryTitle = entry.title %}
    {% set make = entry.make.one() %}
    {% set model = entry.model.one() %}
    {% include "_components/_pre-owned/inventory-item-component" %}
    {% endfor %}
  </div>
</div>
{% endblock %}
