{% block search %}
<div id="filters" class="w-64">
  <select id="filter-select" multiple="multiple" class="w-64 filters-select">
    <optgroup label="Price" value-group="price">
      <option value="zeroTo3999">3999 and Cheaper</option>
      <option value="4000to7999">7999 and Cheaper</option>
    </optgroup>
    <optgroup label="Hours" value-group="hours">
      <option value=".Honda">Honda</option>
      <option value=".Sea-Doo">Sea-Doo</option>
    </optgroup>
  </select>
  <select id="filter-select" multiple="multiple" class="w-64 filters-select">
    <optgroup label="Make" value-group="make">
      <option value=".Honda">Honda</option>
      <option value=".Sea-Doo">Sea-Doo</option>
    </optgroup>
  </select>
</div>
<div class="grid max-w-screen-xl">
  {% for entry in craft.entries().section('inventory').all() %}
  {% set inventoryLink = entry.url() %}
  {% set inventoryTitle = entry.title %}
  {% set make = entry.make.one() %}
  {% set model = entry.model.one() %}
  {% include "_components/_pre-owned/inventory-item-component" %}
  {% endfor %}
</div>
{% endblock %}
