{% block card %}
{% if block.cardLink|length %}
<a href="{{ block.cardLink }}">
  {% endif %}
  <article class="w-full {{ block.backgroundColor }} p-4 flex flex-col items-center h-full">
    {% if block.image|length %}
    {% set image = block.image.one() %}
    <img src="{{ image.url}}" alt="" class="w-full h-auto mb-2">
    {% endif %}
    {% if block.callOutText|length %}
    <h1 class="mb-2 leading-none text-center">{{ block.callOutText }}</h1>
    {% endif %}
    {% if block.price|length %}
    <h1 class="mb-2 font-sans font-bold leading-none text-center">{{ block.price }}</h1>
    {% endif %}
    {% if block.heading|length %}
    <h3 class="mb-2">{{ block.heading }}</h3>
    {% endif %}
    {% if block.body|length %}
    <p class="p-2">{{ block.body }}</p>
    {% endif %}
  </article>
  {% if block.cardLink|length %}
</a>
{% endif %}
{% endblock %}
