{% block card %}
{% if block.cardLink|length %}
<a href="{{ block.cardLink }}" target="_blank">
  {% endif %}
  <article class="w-full text-center {{ block.backgroundColor }} p-4 flex flex-col items-center justify-between h-full {% if block.backgroundColor.value == 'bg-wz-black' %}text-wz-cream{% elseif block.backgroundColor.value == 'bg-wz-red' %}text-wz-cream{% else %}text-wz-black{% endif %} shadow-lg">
    {% if block.image|length %}
    {% set image = block.image.one() %}
    <img src="{{ image.url}}" alt="" class="w-full h-auto mb-2">
    {% endif %}
    <div id="text-wrapper" class="flex flex-col items-center p-2">
    {% if block.callOutText|length %}
    <h2 class="mb-2 leading-none text-center">{{ block.callOutText|nl2br }}</h2>
    {% endif %}
    {% if block.heading|length %}
    <h3 class="mb-2">{{ block.heading }}</h3>
    {% endif %}
    {% if block.body|length %}
{{ block.body }}
    {% endif %}
    </div>
    {% if block.price|length %}
    <h1 class="mb-2 font-sans font-bold leading-none text-center">{{ block.price }}</h1>
    {% endif %}
  </article>
  {% if block.cardLink|length %}
</a>
{% endif %}
{% endblock %}
