{% block image %}
{% switch block.size %}
{% case "fullWidth" %}
<article class="my-2 w-full {{ block.alignment }} shadow-lg">
  {% set image = block.image.one() %}
  <img src="{{ image.url}}" alt="" class="w-full h-auto">
  {% if block.caption|length %}
  <h4 class="my-2">{{ block.caption }}</h4>
  {% endif %}
</article>
{% case "halfWidth" %}
<article class="my-2 w-1/2 {{ block.alignment }}">
  {% set image = block.image.one() %}
  <img src="{{ image.url}}" alt="" class="w-full h-auto">
  {% if block.caption|length %}
  <h4 class="my-2">{{ block.caption }}</h4>
  {% endif %}
</article>
{% case "thirdWidth" %}
<article class="my-2 w-1/2 md:w-1/3 {{ block.alignment }}">
  {% set image = block.image.one() %}
  <img src="{{ image.url}}" alt="" class="w-full h-auto">
  {% if block.caption|length %}
  <h4 class="my-2">{{ block.caption }}</h4>
  {% endif %}
</article>
{% endswitch %}
{% endblock %}
