{% block header %}
<header id="header" class="flex flex-col">
  <section class="flex flex-row justify-between items-center p-4 md:p-8 border-b border-wz-black w-full">
    {% include "_components/_general/logo-component" %}
    {% block logo %}
    {% endblock %}
    {% include "_components/_general/main-nav-component" %}
    {% block main_nav %}
    {% endblock %}
    {% include "_components/_general/mobile-nav-button-component" %}
    {% block mobile_nav_button %}
    {% endblock %}
  </section>
  <section id="contact-info" class="flex flex-row flex-wrap w-full max-w-3xl bg-wz-black border-b border-wz-cream">
    <a href="tel:1-704-966-1872">
    <div id="call" class="border-r border-wz-cream md:w-1/4">
      <i class="fas fa-phone-alt text-wz-yellow inline-block mx-1"></i><label class="inline-block text-wz-cream">Call</label>:<h4 class="inline-block mr-1 text-wz-cream">704.966.1872</h4>
    </div>
    </a>
    <a href="mailto:sales@wizardspwc.com">
    <div id="email" class="md:w-1/3">
<i class="fas fa-envelope text-wz-yellow inline-block mx-1"></i><label class="inline-block text-wz-cream">Email</label>:<h4 class="inline-block mr-1 text-wz-cream">sales@wizardspwc.com</h4>
    </div>
    </a>
    <a href="https://www.google.com/maps/place/Wizards+Powersports/@35.5403101,-81.0430767,17z/data=!3m1!4b1!4m5!3m4!1s0x8856b307b9d8688b:0xd8a0697a3d1539c!8m2!3d35.5403101!4d-81.040888">
    <div id="address" class="border-t md:border-l md:border-t-0 border-wz-cream w-full md:w-auto flex-grow">
<i class="fas fa-map-marker-alt text-wz-yellow inline-block mx-1"></i><label class="inline-block text-wz-cream">Visit</label>:<h4 class="inline-block mr-1 text-wz-cream">6161 Denver Industrial Park Rd.</h4>
    </div>
    </a>
  </section>
</header>
{% endblock %}
