{% block main_content %}
<main id="main-content" class="flex flex-col md:flex-row flex-wrap px-4 md:px-0 py-6 md:py-12 max-w-screen-lg mx-auto">
  {% for row in entry.pageContent.all() %}
  {% switch row.sectionLayout %}
  {% case "5050Split" %}
  {% set leftWidth = "w-1/2" %}
  {% set rightWidth = "w-1/2" %}
  <section id="left-column" class="flex flex-col justify-center w-full md:{{ leftWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'left' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  <section id="right-column" class="flex flex-col justify-center w-full md:{{ rightWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'right' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  {% case "3366Split" %}
  {% set leftWidth = "w-1/3" %}
  {% set rightWidth = "w-2/3" %}
  <section id="left-column" class="flex flex-col justify-center w-full md:{{ leftWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'left' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  <section id="right-column" class="flex flex-col justify-center w-full md:{{ rightWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'right' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  {% case "6633Split" %}
  {% set leftWidth = "w-2/3" %}
  {% set rightWidth = "w-1/3" %}
  <section id="left-column" class="flex flex-col justify-center w-full md:{{ leftWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'left' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  <section id="right-column" class="flex flex-col justify-center w-full md:{{ rightWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'right' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  {% case "75/25Split" %}
  {% set leftWidth = "w-3/4" %}
  {% set rightWidth = "w-1/4" %}
  <section id="left-column" class="flex flex-col justify-center w-full md:{{ leftWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'left' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  <section id="right-column" class="flex flex-col justify-center w-full md:{{ rightWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'right' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  {% case "25/75Split" %}
  {% set leftWidth = "w-1/4" %}
  {% set rightWidth = "w-3/4" %}
  <section id="left-column" class="flex flex-col justify-center w-full md:{{ leftWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'left' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  <section id="right-column" class="flex flex-col justify-center w-full md:{{ rightWidth }} px-0 md:px-10 mb-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'right' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  {% endswitch %}
  {% if row.sectionLayout == 'full' %}
  <section id="full-width" class="flex flex-col justify-center w-full px-0 md:px-10">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'full' %}
      {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}
  {% if row.sectionLayout == 'grid' %}
  <section id="grid" class="flex flex-row flex-wrap w-full px-0 md:px-8">
    {% for block in row.sectionContent.all() %}
      {% if block.column.value == 'grid' %}
      <div class="w-full md:w-1/2 lg:w-1/3 p-0 md:p-2 my-2 {% if block.cardLink|length %}transition-transform ease-in-out duration-300 hover:scale-105 hover:shadow-xl transform z-40 hover:z-50{% endif %}">
        {% include ('_components/_main-content/' ~ block.type.handle ~ '-component' ) %}
      </div>
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}
  {% endfor %}
</main>
{% endblock %}
