{% block nav_tile %}
{% set icon = page.navigationIcon.one() %}
{% set hero = page.heroImage.one() %}
<div id="nav-tile-desktop" class="hidden md:block w-1/4 h-64 flex flex-col flex-end" style="background-image: url('{{ hero.url }}'); background-position: center; background-size: cover;">
  <a href="{{ page.url }}" class="w-full h-full">
  <header class="bg-{{ page.linkColor}} w-full ">
    <h3 class="text-wz-black">{{ page.title }}</h3>
  </header>
  <img id="nav-icon" class="w-1/4" src="{{ icon.url }}" alt="{{ icon.title }}">
  </a>
</div>
<div id="nav-tile-mobile" class="md:hidden w-1/2" style="background-image: url('{{ hero.url }}'); background-position: center; background-size: cover;">
  <a href="{{ page.url }}">
    <img id="nav-icon" class="w-full" src="{{ icon.url }}" alt="{{ icon.title }}">
    <h3>{{ page.title }}</h3>
  </a>
</div>
{% endblock %}
