{% block nav_tile %}
{% set icon = page.navigationIcon.one() %}
{% set hero = page.heroImage.one() %}
<a href="{{ page.url }}" class="hidden md:block w-1/4 h-64 transition-transform ease-in-out duration-300 hover:scale-105 hover:shadow-xl transform z-40 hover:z-50">
  <div id="nav-tile-desktop" class="flex flex-col justify-end w-full h-full" style="background: linear-gradient(rgba{% if page.linkColor == 'wz-yellow' %}(248, 230, 232, .20),rgba(248, 230, 232, .40){% else %}(248, 230, 232, .33),rgba(248, 230, 232, .66){% endif %}), url('{{ hero.url }}'); background-position: center; background-size: cover;">
    <img id="nav-icon" class="w-1/4 self-end px-4" src="{{ icon.url }}" alt="{{ icon.title }}">
    <header class="bg-{{ page.linkColor}} w-full px-6">
      <h3 class="{% if page.linkColor.value == 'wz-black' %}text-wz-cream{% else if page.linkColor.value == 'wz-red' %}text-wz-cream%}{% else %}text-wz-black{% endif %}">{{ page.title }}</h3>
    </header>
  </div>
</a>
<div id="nav-tile-mobile" class="md:hidden w-1/2 flex flex-col content-center px-4 py-4 justify-end shadow-wrap ransition-transform ease-in-out duration-300 hover:scale-105 transform z-40 hover:z-50">
  <a href="{{ page.url }}" class="flex flex-col items-center">
    <img id="nav-icon" class="w-32 object-scale-down object-bottom" src="{{ icon.url }}" alt="{{ icon.title }}">
    <header class="bg-{{ page.linkColor}} w-full px-2 mt-4">
      <h3 class="{% if page.linkColor.value == 'wz-black' %}text-wz-cream{% else %}text-wz-black{% endif %}">{{ page.title }}</h3>
    </header>
  </a>
</div>
{% endblock %}
