@tailwind base;

@font-face {
font-family: 'SF WADIM GIANT ITALIC';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant_italic.woff') format('woff');
}


@font-face {
font-family: 'SF WADIM GIANT LINES';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant_lines.woff') format('woff');
}


@font-face {
font-family: 'SF WADIM GIANT OUTLINE';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant_outline.woff') format('woff');
}


@font-face {
font-family: 'SF WADIM GIANT Heavy';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant.woff') format('woff');
}


h1 {
  @apply font-wz-heavy;
  @apply text-5xl;
  @apply tracking-wider;
}

h2 {
  @apply font-wz-italic;
  @apply text-3xl;
  @apply tracking-wider;
}

h3 {
  @apply font-wz-italic;
  @apply text-2xl;
  @apply tracking-wider;
}

p {
  @apply font-sans;
  @apply text-base;
  @apply pb-3;
}

h4 {
  @apply font-sans;
  @apply font-bold;
  @apply text-xs;
  @apply tracking-wider;
}

label {
  @apply font-wz-italic;
  @apply text-base;
  @apply tracking-wider;
}

button {

}

button:hover {

}

button:active {

}

@screen md {
  h1 {

  }

  h2 {

  }

  h3 {

  }

  p {

  }

  h4 {

  }
}

@screen lg {

}

@screen xl {
  h1 {

  }

  h2 {

  }

  h3 {

  }

  p {

  }

  h4 {

  }
}
@tailwind components;

@tailwind utilities;

.bg-wz-grid {
  background: #FEF4E9;
  background-image: url("../images/gridBG.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.shadow-wrap {
  filter: drop-shadow(10px 10px 33px rgba(0, 42, 78, 0.20));
}

.tab {
  position: relative;
  margin: 2px;
  max-width: 600px;
}

/* [THE LABEL] */
.tab input {
  display: none;
}
.tab label {
  display: block;
  color: #212a30;
  font-weight: bold;
  font-family: Lato;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  left: 15px;
}
.tab label::after {
content: "\002B";
position: absolute;
left: 10px;
top: 0px;
display: block;
transition: all 0.4s;
color: #ab2739;
font-size: 3rem;
vertical-align: top;
line-height: .75;
}
.tab input[type=checkbox]:checked + label::after,
.tab input[type=radio]:checked + label::after {
  transform: rotate(45deg);
}

/* [THE CONTENTS] */
.tab-content {
  overflow: hidden;
  /* CSS animation will not work with auto height */
  /* This is why we use max-height */
  transition: max-height 0.4s;
  max-height: 0;
}
.tab-content p {
  margin: 20px;
}
.tab input:checked ~ .tab-content {
  /* Set the max-height to a large number */
  /* Or 100% viewport height */
  max-height: 100vh;
}
