@tailwind base;

@font-face {
font-family: 'SF WADIM GIANT ITALIC';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant_italic.woff') format('woff');
}


@font-face {
font-family: 'SF WADIM GIANT LINES';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant_lines.woff') format('woff');
}


@font-face {
font-family: 'SF WADIM GIANT OUTLINE';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant_outline.woff') format('woff');
}


@font-face {
font-family: 'SF WADIM GIANT Heavy';
font-style: normal;
font-weight: normal;
src: url('../fonts/wadim_giant.woff') format('woff');
}


h1 {
  @apply font-wz-heavy;
  @apply text-5xl;
}

h2 {
  @apply font-wz-italic;
  @apply text-3xl
}

h3 {
  @apply font-wz-italic;
  @apply text-2xl;
}

p {
  @apply font-sans;
  @apply text-base;
  @apply pb-3;
}

h4 {
  @apply font-sans;
  @apply font-bold;
  @apply text-sm;
}

label {
  @apply font-wz-italic;
  @apply text-xs;
}

button {

}

button:hover {

}

button:active {

}

@screen md {
  h1 {

  }

  h2 {

  }

  h3 {

  }

  p {

  }

  h4 {

  }
}

@screen lg {

}

@screen xl {
  h1 {

  }

  h2 {

  }

  h3 {

  }

  p {

  }

  h4 {

  }
}
@tailwind components;

@tailwind utilities;

.bg-wz-grid {
  background: #FEF4E9;
  background-image: url("../images/gridBG.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
