{% block inventoryItem %}
<div class="grid-item {% if not make.title in [Sea-Doo', 'Yamaha', 'Kawasaki', 'Honda', 'Polaris'] %}Other{% else %}{{ make.title }}{% endif %}

{% if entry.horsepower < 110 %}Under-110{% elseif entry.horsepower >= 110 and entry.horsepower <= 130 %}110-130{% elseif entry.horsepower >= 140 and entry.horsepower <= 185 %}140-185{% elseif entry.horsepower >= 210 and entry.horsepower <= 230 %}210-230{% elseif entry.horsepower >= 250 and entry.horsepower <= 310 %}250-310{% endif %}

{% if entry.stroke == '2Stroke' %}2-2troke{% else %}4-stroke{% endif %}

{% if entry.turboSc == 'turbo' %}Turbo{% elseif entry.turboSc == 'supercharged' %}Supercharged{% elseif entry.turboSc == 'naturallyAspirated' %}NaturallyAspirated{% endif %}


">
  <a href="{{ inventoryLink }}" class="flex flex-row">
    <p class="mr-2 year">{{ entry.year }} | </p>
    <p class="mr-2 make">{{ make.title }} | </p>
    <p class="mr-2 model">{{ model.title }} | </p>
    <p class="mr-2 hours">{{ entry.hours }}hrs | </p>
    <p class="mr-2 stroke">{% if entry.stroke == '2Stroke' %}2-Stroke{% else %}4-Stroke{% endif %} | </p>
    <p class="mr-2 turboSc">{% if entry.turboSc == 'turbo' %}Turbo{% elseif entry.turboSc == 'supercharged' %}Supercharged{% elseif entry.turboSc == 'naturallyAspirated' %}Naturally Aspirated{% endif %} | </p>
    <p class="mr-2 horsepower">{{ entry.horsepower }}hp  | </p>
    <p class="mr-2 price">${{ entry.price }}</p>
  </a>
</div>
{% endblock %}
