{% block inventoryItem %}
<div class="mix {% if not make.title in ['Sea-Doo', 'Yamaha', 'Kawasaki', 'Honda', 'Polaris'] %}Other{% else %}{{ make.title }}{% endif %} {% if entry.horsepower < 110 %}Underto110{% elseif entry.horsepower >= 110 and entry.horsepower <= 130 %}HP110to130{% elseif entry.horsepower >= 140 and entry.horsepower <= 185 %}HP140to185{% elseif entry.horsepower >= 210 and entry.horsepower <= 230 %}HP210to230{% elseif entry.horsepower >= 250 and entry.horsepower <= 310 %}Hp-150to310{% endif %} {% if entry.stroke == '2Stroke' %}TwoStroke{% else %}FourStroke{% endif %} {% if entry.turboSc == 'turbo' %}Turbo{% elseif entry.turboSc == 'supercharged' %}Supercharged{% elseif entry.turboSc == 'naturallyAspirated' %}NaturallyAspirated{% endif %} mb-8 hover:text-wz-red cursor-pointer"
  id="{{ loop.index }}" data-year="{{ entry.year }}" data-price="{{ entry.price }}" data-hours="{{ entry.hours }}" data-model="{{ model.title }}" @click="open = true">
  <a href="{{ inventoryLink }}" class="inventory-item">
    <div class="flex flex-row items-start lg:items-center">
      <div class="mr-4 w-24 h-24">
        <img src="{{ thumbnail.src() }}" srcset="{{ thumbnail.srcset() }}" sizes="320" />
      </div>
      <div class="flex flex-row flex-wrap">
        <p class="font-sans font-bold text-sm">
          {{ entry.year }} • {{ make.title }} • {{ model.title }} • {{ entry.hours }}hrs<br />{% if entry.stroke == '2Stroke' %}2-Stroke{% else %}4-Stroke{% endif %} • {% if entry.turboSc == 'turbo' %}Turbo Charged{% elseif entry.turboSc ==
          'supercharged' %}Supercharged{% elseif entry.turboSc == 'naturallyAspirated'%}Naturally Aspirated{% endif %} • {{ entry.horsepower }}hp<br /> ${{ entry.price }}</p>
      </div>
    </div>
  </a>
</div>
{% endblock %}
