{% do view.registerCssFile(siteUrl ~ "assets/css/main.css") %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="UTF-8">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/4b48b2c1b8.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script>
		function showNav() {
			var x = document.getElementById("main-nav-mobile");
			var y = document.body;
			var z = document.getElementById("navIcon");
			if (x.style.display === "none") {
				x.style.display = "block";
				z.classList.add("rotate-45");
				y.style.overflow = "hidden";
			} else {
				x.style.display = "none";
				z.classList.remove("rotate-45");
				y.style.overflow = "auto";
			}
		}
	</script>


	<script type="text/javascript">
		jQuery(function($) {
			$('input[type="checkbox"]').on('change', function() {
				let state = $(this).is(':checked');
				$('input[type="checkbox"]').prop('checked', false);
				$(this).prop('checked', state);
			});
		});
	</script>

	<script type="text/javascript">
		function alpineInstance() {
			return {
				title: 'jetski test',
				intro: 'list of jetskis',
				jetSkis: [],
				section = 'inventory',
				query = `query inventoryQuery($section:[String]) {
	entries (section: $section) {
	title
	}
	}`
			}
		}
	</script>
</head>

<body class="bg-wz-grid flex flex-col justify-between min-h-screen">
	{% block body %}{% endblock %}
</body>

</html>
