{% do view.registerCssFile(siteUrl ~ "assets/css/main.css") %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="UTF-8">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="{{ siteUrl }}assets/css/multiselect.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/4b48b2c1b8.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script src="assets/js/responsiveslides.min.js"></script>
	<script>
		function showNav() {
			var x = document.getElementById("main-nav-mobile");
			var y = document.body;
			var z = document.getElementById("navIcon");
			if (x.style.display === "none") {
				x.style.display = "block";
				z.classList.add("rotate-45");
				y.style.overflow = "hidden";
			} else {
				x.style.display = "none";
				z.classList.remove("rotate-45");
				y.style.overflow = "auto";
			}
		}
	</script>
	<script type="text/javascript">
		jQuery(function($) {
			$('input[type="checkbox"][name="tab"]').on('change', function() {
				let state = $(this).is(':checked');
				$('input[type="checkbox"][name="tab"]').prop('checked', false);
				$(this).prop('checked', state);
			});
		});
	</script>
</head>

<body class="bg-wz-grid flex flex-col justify-between min-h-screen" x-data="{ open: false }" x-bind:class="{ 'overflow-hidden h-screen': open }">
	{% block body %}{% endblock %}
	<script src="assets/js/mixitup.min.js"></script>
	<script src="assets/js/mixitup-pagination.min.js"></script>
	<script src="assets/js/mixitup-multifilter.min.js"></script>
	<script type="text/javascript">
		var chevronYear = document.getElementById("chevron-year");
		var chevronHour = document.getElementById("chevron-hour");
		var chevronPrice = document.getElementById("chevron-price");
		$(function() {
			var sortOrder = 'asc',
				$toggleSortYear = $('.toggle-sort-year');
			$toggleSortHours = $('.toggle-sort-hours');
			$toggleSortPrice = $('.toggle-sort-price');

			var mixer = mixitup('.inventoryList', {
				multifilter: {
					enable: true // enable the multifilter extension for the mixer
				},
				pagination: {
					limit: 25 // impose a limit of 8 targets per page
				},
				load: {
        sort: 'price:desc'
    }
			});
			$toggleSortYear.on('click', function() {
				$('button').removeClass('text-wz-yellow');
				$(this).addClass('text-wz-yellow');
				switch (sortOrder) {
					case 'asc':
						sortOrder = 'desc';
						chevronYear.classList.add("rotate-180");
						break;
					case 'desc':
						sortOrder = 'asc';
						chevronYear.classList.remove("rotate-180");
						break;
				}
				mixer.sort('sort', 'year:' + sortOrder);
			});
			$toggleSortHours.on('click', function() {
				$('button').removeClass('text-wz-yellow');
				$(this).addClass('text-wz-yellow');
				switch (sortOrder) {
					case 'asc':
						sortOrder = 'desc';
						chevronHour.classList.add("rotate-180");
						break;
					case 'desc':
						sortOrder = 'asc';
						chevronHour.classList.remove("rotate-180");
						break;
				}
				mixer.sort('sort', 'hours:' + sortOrder);
			});
			$toggleSortPrice.on('click', function() {
				$('button').removeClass('text-wz-yellow');
				$(this).addClass('text-wz-yellow');
				switch (sortOrder) {
					case 'asc':
						sortOrder = 'desc';
						chevronPrice.classList.remove("rotate-180");
						break;
					case 'desc':
						sortOrder = 'asc';
						chevronPrice.classList.add("rotate-180");
						break;
				}
				mixer.sort('sort', 'price:' + sortOrder);
			});
		});
	</script>
	<script type="text/javascript">
		// Add an event listener for filter clicks
		$(function() {
			$('body').on('click', '.inventory-item', onInventoryClick);
		});

		// Event handler for the filter click
		function onInventoryClick(e) {
			e.preventDefault();
			var $inventoryItem = $(e.currentTarget);
			var href = $inventoryItem.attr('href');
			$.ajax($inventoryItem.attr('href'), {
				dataType: 'html',
				success: function(response) {
					refreshInventory(response);
				}
			});
		}

		function refreshInventory(html) {
			// Update the .inventoryItemContent DOM element with new HTML
			var $html = $('<div />').append(html);
			$('.inventoryItemContent').html($html.find('.inventoryItemContent').html());
		}
	</script>
</body>

</html>
