{% block footer_nav %}
<nav id="footer-nav" class="flex flex-col mr-4">
  {% set pages = craft.app.sections.allSections() %}
  {% for page in pages if page.type =='single' %}
    {% set singleEntry = craft.entries.sectionId(page.id).one() %}
    <a href="{{ singleEntry.url }}" class="p-1 font-wz-italic md:text-right hover:font-bold text-wz-black text-sm">{{ singleEntry.title }}</a>
  {% endfor %}
  {% for entry in craft.entries.section('clientAddedPages').all() %}
  <a href="{{ entry.url }}" class="p-1 font-wz-italic md:text-right hover:font-bold text-wz-black text-sm">{{ entry.title }}</a>
  {% endfor %}
</nav>
{% endblock %}
