{% block main_nav %}
<nav id="main-nav-desktop" class="hidden md:block flex flex-row">
  {% set pages = craft.app.sections.allSections() %}
  {% set pages = pages if page.type =='single' %}
  {% for page in pages|supersort('sortAs', '{ object.navigationOrder }', SORT_NUMERIC) %}
    {% set singleEntry = craft.entries.sectionId(page.id).one() %}
    <a href="{{ singleEntry.url }}" class="p-4 text-xl hover:font-bold font-normal hover:border-b hover:border-wz-red font-wz-italic hover:text-wz-red">{{ singleEntry.title }}</a>
  {% endfor %}
  {% for entry in craft.entries.section('clientAddedPages').all() %}
    <a href="{{ entry.url }}" class="p-4 text-xl hover:font-bold font-normal hover:border-b hover:border-wz-red font-wz-italic hover:text-wz-red">{{ entry.title }}</a>
  {% endfor %}
</nav>

<nav id="main-nav-mobile" class="hidden md:hidden flex flex-col w-full h-screen bottom-0 bg-wz-grid items-end">
  <header id="header" class="w-full flex flex-row justify-between items-center p-2 md:p-8 border-b border-wz-black">
    {% include "_components/_general/logo-component" %}
    {% block logo %}
    {% endblock %}
  </header>
  {% set pages = craft.app.sections.allSections() %}
  {% for page in pages if page.type =='single' %}
    {% set singleEntry = craft.entries.sectionId(page.id).one() %}
    <a href="{{ singleEntry.url }}" class="p-4 text-2xl hover:font-bold font-normal hover:border-b hover:border-wz-red font-wz-italic hover:text-wz-red">{{ singleEntry.title }}</a>
  {% endfor %}
  {% for entry in craft.entries.section('clientAddedPages').all() %}
    <a href="{{ entry.url }}" class="p-4 text-2xl hover:font-bold font-normal hover:border-b hover:border-wz-red font-wz-italic hover:text-wz-red">{{ entry.title }}</a>
  {% endfor %}
</nav>
{% endblock %}
