{% block main_nav %}
<nav id="main-nav-desktop" class="hidden md:flex flex-row pr-2 md:self-end">
  {% set pages = craft.app.sections.allSections() %}
  {% for page in pages if page.type =='single' %}
  {% set singleEntry = craft.entries.sectionId(page.id).one() %}
  <a href="{{ singleEntry.url }}" class="p-4 text-xl font-normal hover:border-b hover:border-wz-red font-wz-italic hover:text-wz-red order-{{ singleEntry.navigationOrder }}">{{ singleEntry.title }}</a>
  {% endfor %}
  {% for entry in craft.entries.section('clientAddedPages').all() %}
  <a href="{{ entry.url }}" class="p-4 text-xl hover:font-bold font-normal hover:border-b hover:border-wz-red font-wz-italic hover:text-wz-red order-{{ entry.navigationOrder }}">{{ entry.title }}</a>
  {% endfor %}
</nav>
{% endblock %}
